header{
    background-color: rgb(226, 155, 41)
}
.head{
    text-align: center;
}

.shopLbl{
    text-align: center;
    color:rgb(0, 0, 0);
}

body{
    background-color: rgb(229, 229, 183);
    background-image: url(./record.png);
    background-repeat:repeat;
    margin: 0;
}

.coolRcd{
    background-color: rgb(174, 174, 174);
    padding: 1em;
    text-align: center;
}